.body{
    background: rgb(0,255,244);
    background: linear-gradient(153deg, rgba(0,255,244,1) 3%, rgba(248,0,255,1) 94%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h5{
    text-align: center;
}

.card{
    box-shadow: 10px 10px 5px rgb(205, 218, 207);
    border-radius: 10px;
    border: 1px solid rgb(0, 255, 34);
    border-top: gainsboro !important;
    border-bottom: gainsboro !important;
    padding-top: 30px;
    margin-top: 50px;
    padding-bottom: 35px;
    margin-bottom: 90px;
    background: rgb(0,255,244);
    background: linear-gradient(153deg, rgba(0,255,244,1) 3%, rgba(248,0,255,1) 94%); 
}

#res{
    color: rgb(85, 82, 82);
}

.name{
    color: white;
}

#title{
    color: teal;
}

#form-group {
    color: rgb(255, 0, 0);
    background-color: blue;
}

p {
    color: white;
}

hr{
    color: white;
}